* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
  list-style: none;
}

:root {
  font-size: 62.5%;
  --font-lobster : "Lobster", "sans-serif";
  --font-shadows-into : "Shadows Into Light", "cursive";
  --font-general : Arial, Helvetica, sans-serif;
}

body {
  font-size: 1.4rem;
}

/********************* Barre de navigation desktop *********************/

.navbar-desktop {
  background-color: #fff;  
  font-weight: bold;
  height: 8rem;
}

.navbar-desktop a {
  font-family: var(--font-shadows-into);
  font-size: 2rem;
  padding: 5rem;
  color: #61b3ff;
}

.switch {
  width: 90px;
  height: 30px;
  background-color: #61b3ff;
  border-radius: 15px;
  border: 1px solid #61b3ff;
  position: relative;
  /* L'élément parent en position relative : cela permet de positionner l'enfant en position: absolute */
  /* Déclaration d'un élément en position: relative -> permet de positionner un élément enfant déclaré en position: absolute */
}

.switch i {
  color: #ffd363;
  font-size: 1.8rem;
  right: 10px;
  top: 1px;
  position: absolute;
  /* L'élément en position : absolute par rapport à l'élément parent en position : relative OU par rapport au body (si aucun élément est déclaré en position : relative) */
}
form button{
  width: 100%;
  font-size: 1.6rem;
  height: 20px;
  margin: auto;
  
}
#btnNo{
  left: 30rem;
}
.btn:not(.btn-info,.btn-danger) {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #333;
  border: 1px solid #61b3ff;
  position: absolute;
  top: -1px;
  left: -1px;
}

.btn:hover {
  background-color: #333 !important;
}

/************************ Corps de la page ************************/

.container-fluid {
  background-color: #cbe6ff;
}

.banniere-titre {
  margin-bottom: 1rem;
}

h1 {
  font-family: var(--font-lobster);
}

.bloc-btn {
  width: 100%;
  margin: 0 auto;
}

.bloc-btn i:not(.bi-check) {
  font-size: 3.5rem;
}


.btn-abonner {
  padding: 1rem;
  font-size: 2rem;
  background-color: #1e2337;
  border: none;
  color:#f1bf2a ;
}

/* CAROUSSEL *****************************************************************************************************************************/

.outils > div {
  background-color: #1e2337;
  color: #fff;
  padding: 2rem;
}
.slider {
  background-image: url(../img/concrete_seamless.png);
  width: 100%;
  padding: 10rem;
}
.slider img {
  margin-top: 5rem;
  border: 20px solid #fff;
  border-radius: 10px;
  box-shadow: 0px 2px 16px 1px rgba(0, 0, 0, 0.75);
  transform: rotate(-8deg);
}
/* ************************************************************************************************************************************ */

/* LOADER *******************************************************************************************************************************/

#loader {
  height: 100vh;
  width: 100vw;
  background-color: #cbe6ff;
  position: fixed;
  z-index: 1;
}
.icon-loader {
  width: 100px;
  height: 100px;
  border: 10px solid #61b3ff;
  border-top: 10px solid #1e2337;
  border-radius: 50%;
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.2);
  animation-name: loader;  /* Nom de la keyframe */
  animation-duration: 1s; /* Durée de l'animation */
  animation-iteration-count: infinite; /* Répétition de l'animation */
  /* animation-timing-function: linear; /* La progression de l'animation pendant la durée de chaque cycle  */
}
.hide-loader {
  display: none !important;
}
.hide-infoBulle{
  display: none !important;
}
.form-control.error .fa-exclamation{
  color: red;
  visibility: visible;
}
.form-control.succes .fa-circle-check{
  color: green ;
  visibility: visible;
}
.form-control.succes input{
  border: 1px solid green;
}
.form-control small{
  visibility: hidden;
}
.form-control.error small{
  color: red;
  visibility: visible;
}
.hide{
  display:none;
}
.hideNone{
  display: none;  
}
@keyframes loader {

  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* ************************************************************************************************************************************ */

/* FOOTER ******************************************************************************************************************************/

footer {
  background-color: #1E2337;
  margin: 0 !important;
  
}
footer li {
  padding: 7px;
}

footer li a{
  color: #fff;
  font-size: 1.3rem;
}

/* cookies ******************************************************************************************************************************/

.cookies {
  background-color: gray;
  padding: 3rem;
  width: 100%;
  position: fixed;
  bottom: 0;
  transition: all 0.5s;
}

.cookies button {
  color: white;
  font-size: 1.3rem;
  padding: 1rem;
  margin: 1rem;
  border: none;
  border-radius: 10px;
}

.btn-success {
  background-color: #1E2337;
}

.btn-deny {
  background-color: blue;
}

/* Style pour le Dark Mode *********************************************************************************************************/

.nav-dark {
  background-color: #333;
}
 
.white-font {
  color: #fff !important;
}

.container-change {
  background-color: #2c3c54;
}

.btn-change {
  right: -1px;
  left: auto;
  background-color: #fff;
}

.btn-change:hover {
  background-color: #fff !important;
}

.icon-change {
  left: 8px;
}

.icon-change::before {
  content: '\F494';
}

.titre {
  color: #fff;
}

.btn-click {
  color:#f1bf2a;
}
/* ************************************************************************************************************************************ */

/* KEYBOARD *************************************************************************************************************************** */

.mario{
  position: relative;
}
#mario {
  position: absolute;
  left: 30px;
  
}
/* **************************************************************************************************************************************/

/**********************************************  Formulaire ****************************************/

.container{
  width:50%
}
.header{
  background-color:#1e2337 ;
  border-bottom: 1px solid #fff ;
  padding: 2rem 4rem
}

form{
  padding: 3rem 4rem;
}
.form-control{
  border: 2px solid #1E2337;
  padding-bottom: 2rem !important;
  margin-bottom: 2rem !important;
  font-size: 1.4rem;
  position: relative;
}
.form-control label {
  margin-bottom: 3rem;
  font-size: 1.3rem;
  font-weight: bold;
}

.form-control input {
  border: 2px solid blue;
  border-radius: 4px;
  width: 100%;
  height: 60px;
  padding-left: 1rem;
}
.mdp p{
  border: 1px solid #cbe6ff;
  width: 120px;
  font-size: .8rem;
  background-color:#6ca5fa;
  position: absolute;
  padding: .4rem;
  bottom: 50px;
  left:105px;

}
.fa-question {
  font-size: 2rem;
}
button{
  background-color: #61b3ff;
  border: 2px solid #1E2337;
  color: #fff;
  border-radius: 4px;
  padding: 10px;
  font-size: 1.6rem;
  width: 100%;
}
.form-control i:not(.fa-eye-slash,.fa-question,.fa-eye) {
  position: absolute;
  top: 80px;
  right: 20px;
  visibility: hidden;
}
/* *********************************************************************************************************************************** */
